body {
    text-align: center;
    height: 150px;
    width: 350px;
    /*background: #EFF0F1;*/
    /*overflow-x: hidden;*/
}

#name {
    outline-width: 0;
    border-color: black;
    border-radius : 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 4px;
}

#save{
    border-color: black;
    border-radius : 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding : 3px 5px 3px 5px;
}

#general {
    font-size: 18px;
}


img {
    height: 40px;
    width: 40px;
    padding: 10px;
}

#content {
    margin-top: 10px;
}

 button{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    background-color: white;
    /*background:#00417F; !*#004e92;*!*/
    display: inline-block;
    border-radius: 20px;
    outline: none;
    border: 0px;
    color: #fff;
    cursor: pointer;
    margin: 15px;
}

#content1, #content2{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    background-color: white;
    /*background:#00417F; !*#004e92;*!*/
    display: inline-block;
    border-radius: 20px;
    outline: none;
    border: 0px;
    color: #fff;
    cursor: pointer;
    margin: 15px;
}
