 body {
     font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 200px;
    width: 400px;
     background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
     background-blend-mode: screen;

    /*background: #EFF0F1;*/
    overflow-x: hidden;
}


 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active {
     -webkit-box-shadow: 0 0 0 30px white inset;}

 #name {

     outline-width: 0;
     border-color: black;
     border-radius: 10px;
     margin-top: 20px;
     margin-bottom: 8px;
     padding: 6px;
 }

#save{
    border-color: black;
    border-radius : 5px;
    margin-bottom: 20px;
    font-size: 14px;
    padding : 3px 5px 3px 5px;
}

#general {
    font-size: 18px;
}


img {
    height: 40px;
    width: 40px;
    padding: 10px;
}

#content {
    margin-top: 10px;

}



 #content1{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
    background-color: white;
    /*background:#00417F; !*#004e92;*!*/
    display: inline-block;
    border-radius: 20px;
    outline: none;
    border: 0px;
    color: #fff;
    cursor: pointer;
    margin: 15px;

}

button{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    background-color: white;
    /*background:#00417F; !*#004e92;*!*/
    display: inline-block;
    border-radius: 20px;
    outline: none;
    border: 0px;
    color: #fff;
    cursor: pointer;
    margin: 15px;
}

#open {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    /*background:#00417F; !*#004e92;*!*/
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: 0px;
    font-size: 17px;
    color: #000000;
    cursor: pointer;
    margin: 15px;

}
